/* ul list wrapper */
.wp-newsfw-list {
    padding-left: 0;
}

/* list items */
.wp-newsfw-item {
    padding: 5px;
}

.wp-newsfw-item:nth-child(odd),
.pager {
}

/* ul pager wrapper */
.pager {
    text-align: center;
}

/* pager item */
.pager a,
.pager span {
    display: inline-block;
    padding: 5px 0;
}

/* previous page item */
.prev {
    margin-right: 5px;
}

/* next page item */
.next {
    margin-left: 5px;
}